<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hackathon2015.hitutor" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Buscar"
            android:label="@string/title_activity_buscar"
            android:parentActivityName=".Main"
            android:theme="@style/Theme.Holo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hackathon2015.hitutor.Main" />
        </activity>

        <activity
            android:name=".SignupActivity"
            android:label="Registrar" >
        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="Ingresar" >
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:label="Iniciar sesión"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity android:name=".Ofrecer"
            android:theme="@style/Theme.Holo">
        </activity>

        <activity android:name=".MiPerfil" >
        </activity>

        <activity
            android:name=".Detalle_Clase"
            android:label="@string/title_activity_clase__detail"
            android:parentActivityName=".Main"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hackathon2015.hitutor.Main" />
        </activity>
    </application>

</manifest>
